 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/prof.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
  margin: 288px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 27px 117px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 40px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 454px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin: 60px auto 60px 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 315px;
  grid-gap: 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-icon-1 {
  height: 93px;
  width: 106px;
  margin: 21px auto 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  margin: 17px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 21px 21px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-2 .u-icon-2 {
  height: 93px;
  width: 106px;
  margin: 21px auto 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  margin: 17px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 21px 21px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-2 .u-icon-3 {
  height: 106px;
  width: 106px;
  margin: 21px auto 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  margin: 17px 0 0;
}

.u-section-2 .u-text-6 {
  margin: 21px 21px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    margin-right: 16px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 16px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }
}.u-section-3 .u-sheet-1 {
  min-height: 354px;
}

.u-section-3 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  line-height: 1.8;
  width: 680px;
  margin: 20px auto 60px;
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 634px;
}

.u-section-4 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 634px;
  grid-gap: 10px;
}

.u-section-4 .u-container-layout-1 {
  padding: 9px 19px;
}

.u-section-4 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 220px auto 0;
}

.u-section-4 .u-image-1 {
  width: 282px;
  height: 403px;
  margin: -259px auto 0;
}

.u-section-4 .u-text-1 {
  font-size: 1.25rem;
  margin: 67px 21px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 0.75rem;
  margin: 21px 21px 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 9px 19px;
}

.u-section-4 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 220px auto 0;
}

.u-section-4 .u-image-2 {
  width: 282px;
  height: 403px;
  margin: -259px auto 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  margin: 67px 21px 0 0;
}

.u-section-4 .u-text-4 {
  font-size: 0.75rem;
  margin: 21px 21px 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 9px 19px;
}

.u-section-4 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 220px auto 0;
}

.u-section-4 .u-image-3 {
  width: 282px;
  height: 403px;
  margin: -259px auto 0;
}

.u-section-4 .u-text-5 {
  font-size: 1.25rem;
  margin: 67px 21px 0 0;
}

.u-section-4 .u-text-6 {
  font-size: 0.75rem;
  margin: 21px 21px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    height: auto;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 315px;
  }

  .u-section-4 .u-image-1 {
    height: 404px;
    margin-top: -164px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 86px;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 16px;
    margin-left: 0;
  }

  .u-section-4 .u-image-2 {
    height: 404px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 16px;
    margin-left: 0;
  }

  .u-section-4 .u-image-3 {
    height: 404px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-right: 16px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }

  .u-section-4 .u-image-1 {
    margin-top: -259px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }
}