{% extends 'main.html' %}


{% block body %}

    <body class="hold-transition register-page">
        <div class="register-box">
            <div class="register-logo">
                <a><b>Resume</b> Builder</a>
            </div>

            <div class="card">
                <div class="card-body register-card-body">
                    <p class="login-box-msg">Sign-Up</p>

                    <form method="post">
                        {% csrf_token %}

                        <div class="mb-3">
                            <div class="input-group">
                                {{ form.first_name }}

                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-user"></span>
                                    </div>
                                </div>
                            </div>

                            <ul class="help-block text-danger list-unstyled mb-0">
                                <li>{{ form.first_name.errors }}</li>
                            </ul>
                        </div>

                        <div class="mb-3">
                            <div class="input-group">
                                {{ form.last_name }}

                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-user"></span>
                                    </div>
                                </div>
                            </div>

                            <ul class="help-block text-danger list-unstyled mb-0">
                                <li>{{ form.last_name.errors }}</li>
                            </ul>
                        </div>

                        <div class="mb-3">
                            <div class="input-group">
                                {{ form.email }}

                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-envelope"></span>
                                    </div>
                                </div>
                            </div>

                            <ul class="help-block text-danger list-unstyled mb-0">
                                <li>{{ form.email.errors }}</li>
                            </ul>
                        </div>

                        <div class="mb-3">
                            <div class="input-group">
                                {{ form.password1 }}

                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-lock"></span>
                                    </div>
                                </div>
                            </div>

                            <ul class="help-block text-danger list-unstyled mb-0">
                                <li>{{ form.password1.errors }}</li>
                            </ul>
                        </div>

                        <div class="mb-3">
                            <div class="input-group">
                                {{ form.password2 }}

                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-lock"></span>
                                    </div>
                                </div>
                            </div>

                            <ul class="help-block text-danger list-unstyled mb-0">
                                <li>{{ form.password2.errors }}</li>
                            </ul>
                        </div>

                        <div class="row">
                            <div class="col-8">

                            </div>

                            <div class="col-4">
                                <button type="submit" class="btn btn-primary btn-block">Sign up</button>
                            </div>
                        </div>
                    </form>

                    <div class="social-auth-links text-center">
                        <p>- OR -</p>
                        <a href="{% url 'login' %}" class="btn btn-block btn-primary">
                            <i class="fas fa-sign-in-alt mr-2"></i>
                            Sign In
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </body>

{% endblock %}


{% block extra_js %}
    <script>
        $(document).ready(function() {
            $("#id_email").addClass("form-control");
            $("#id_email").attr("placeholder", "E-mail");
        });
    </script>
{% endblock %}