{% extends 'index.html' %}
{% load static %}


{% block title %}
    Update Profile
{% endblock %}


{% block extra_css %}
    <style>
        .select2-container{
            width: 100% !important;
            max-width: 100%;
        }
    </style>
{% endblock %}


{% block content_header %}
    <div class="row m-0 mb-2">
        <div class="col-sm-6 align-self-sm-end">
            <h1 style="color:#003366;">My Profile</h1>
        </div>
    </div>
{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-md-6">
            <div class="card card-primary">
                <div class="card-header with-border">
                    <h3 class="card-title">Details</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form method="post" >
                    <div class="card-body" style="display: flex; flex-wrap: wrap">
                        {% csrf_token %}
                        {% for field in form %}
                            {% if field.field.widget.input_type == "checkbox" %}
                                <div class="form-group {% if field.errors %}has-error{% else %}has-feedback{% endif %}"
                                     style="flex: 1 1 50%; padding: 0 20px;">
                                    <div class="form-check">
                                        <label>
                                            {{ field }}
                                            {{ field.label }}
                                        </label>
                                        <div class="help-block text-gray">{{ field.help_text }}</div>
                                        {% if field.errors %}
                                            <ul class="help-block text-danger list-unstyled">
                                                {% for error in field.errors %}
                                                    <li>{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% else %}
                                <div class="form-group {% if field.errors %}has-error{% else %}has-feedback{% endif %}"
                                    style="flex: 1 1 100%; padding: 0 20px;">
                                    {{ field.label_tag }}
                                    {{ field }}
                                    <div class="help-block text-gray">{{ field.help_text }}</div>
                                    {% if field.errors %}
                                        <ul class="help-block text-danger list-unstyled">
                                            {% for error in field.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        {% csrf_token %}
                        <a href="{% url 'dashboard' %}" class="btn btn-danger">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}